<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stugenda">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StuGenda">
        <activity android:name=".calendar"></activity>
        <activity android:name=".picker" />
        <activity
            android:name=".displayNotes"
            android:label="Add Note"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity android:name=".Todo" />
        <activity
            android:name=".Notes"
            android:label="New Note"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity android:name=".menu" />
        <activity android:name=".logoScreen" />
        <activity android:name=".GifSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- registering the receiver -->
        <receiver
            android:name=".myAlarm"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".MyBroadcastReciever"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>